Repository ziad-kamel/Graduation-Project, pull requests merged in 2024-02, with the labels that each got.

#41 4 welcome UI implementation
  parrot/public/logo.png
  parrot/public/logo1.png
  parrot/src/app/globals.css
  parrot/src/app/page.tsx
Labels: User, Front-End

#43 added Welcome page of MindSpark
  parrot/prisma/schema.prisma
  parrot/src/app/Mindspark/notes/page.tsx
  parrot/src/app/Mindspark/page.tsx
Labels: Front-End

#48 Add Note UI added
  parrot/src/app/Mindspark/notes/NavBar.tsx
  parrot/src/app/Mindspark/notes/page.tsx
  parrot/src/components/AddNoteDialog.tsx
  parrot/src/components/Note.tsx
  parrot/src/components/ui/loading-button.tsx
Labels: Front-End, Mind Spark

#50 Add Edit Delete Notes functionality added
  parrot/package-lock.json
  parrot/package.json
  parrot/src/app/Mindspark/api/notes/route.ts
  parrot/src/app/Mindspark/notes/NavBar.tsx
  parrot/src/app/Mindspark/notes/page.tsx
  parrot/src/components/AddEditNoteDialog.tsx
  parrot/src/components/Note.tsx
  parrot/src/components/ui/scroll-area.tsx
  parrot/src/lib/validation/note.ts
Labels: Back-End

#55 vector embedding functionality added
  parrot/src/app/Mindspark/api/notes/route.ts
Labels: Back-End, AI, Mind Spark

#57 ai chat box added
  parrot/src/app/Mindspark/notes/NavBar.tsx
  parrot/src/components/AIChatBox.tsx
  parrot/src/components/AIChatButton.tsx
Labels: Front-End, Mind Spark, Chat boot

#69 67 stt UI implementation
  parrot/package-lock.json
  parrot/package.json
  parrot/src/app/api/edgestore/[...edgestore]/route.ts
  parrot/src/app/hooks/useUpload.ts
  parrot/src/app/layout.tsx
  parrot/src/app/speechToText/page.tsx
  parrot/src/components/ui/progress.tsx
  parrot/src/lib/edgestore.ts
  parrot/src/lib/types/STTStypes.ts
Labels: Front-End, Speech To Text

#63 Audio Generation (Api Integration)
  parrot/package-lock.json
  parrot/package.json
  parrot/src/app/audiogeneration/api/route.ts
  parrot/src/app/audiogeneration/page.tsx
  parrot/src/app/hooks/usePostAudioGeneration.ts
  parrot/src/components/AIChatBox.tsx
  parrot/src/lib/musicgen.ts
  parrot/src/lib/types/audioGenTypes.ts
Labels: Audio Generation, Back-End
